/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


.page {
    max-width: 1440px;
    margin: 0 auto;
}

.alignment {

    display: flex; 
    justify-content: space-between;
}

.logo {
    margin: 30px 50px;
}

.alignment img {
    width: 61px;
    height: 19px;

}

.menu {
    list-style-type: none;
    margin: 0px 50px;
    display: flex;
    gap: 70px;


}


.blue {
    padding-top: 12px;
    border-top: 2px solid transparent;
}

.blue:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

.info {
    margin: 30px 50px;
    box-sizing: border-box;

}




h1 {
    font-weight: 700;
    font-size: 22px;
}

.space p {
    margin: 5px 0
}


.search {
    display: flex;
    margin: 30px 0px;
    height: 50px;
    width: 28%;
}

.icone {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: rgba(242, 242, 242, 1);
}

.icone .fa-solid {
    color: black;
    margin: 15px 20px;
}


input[type="text"] {
    font-weight: 700;
    border: 1px solid rgba(242, 242, 242, 1);
    text-align: center;
    font-size: medium;
    border-right: none
}

input[type="submit"] {
    font-weight: 700;
    font-size: 18px;
    width: 132px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--main-color);
    color: white;
    border: transparent;
}

.glass {
    width: 50px;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    border-radius: 35%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
}

.glass .fa-solid {
    color: var(--filter-bg-color);
    margin: 15px 15px
}

.glass {
    display: none
}



.FiltreGroup {
    gap: 15px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
}

.FiltreGroup p {
    font-weight: 700;
    font-size: 19px;
}

.FilterBar {
    gap: 15px;
    display: flex;
    align-items: center;
}

.part1 {
    display: flex;
    gap: 15px;
    height: 50px;
}

.part2 {
    display: flex;
    gap: 15px;
    height: 50px;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 160px;
    border-radius: 25px 25px 25px 25px;
    border: 2px solid rgba(217, 217, 217, 1)
}

.family {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 130px;
    gap: 10px;
    border-radius: 25px 25px 25px 25px;
    border: 2px solid rgba(217, 217, 217, 1)
}

.romantic {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 160px;
    gap: 10px;
    border-radius: 25px 25px 25px 25px;
    border: 2px solid rgba(217, 217, 217, 1)
}

.fire {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    gap: 10px;
    border-radius: 25px 25px 25px 25px;
    border: 2px solid rgba(217, 217, 217, 1);
}

.price:hover {
    background: rgba(222, 235, 255, 1);
}

.family:hover {
    background: rgba(222, 235, 255, 1);
}

.romantic:hover {
    background: rgba(222, 235, 255, 1);
}

.fire:hover {
    background: rgba(222, 235, 255, 1);
}

.line {
    align-items: center;
    margin: 30px 0px;
    display: flex;

}

.icon {
    text-align: center;
    width: 20px;
    border-radius: 50%;
    border: 1px solid rgba(217, 217, 217, 1);
    color: var(--main-color);
}

.text {
    margin: 0 20px
}

.text p {
    font-size: 16px;
    font-weight: 400;
}










.hebergements-global {
    gap: 10px;
    margin: 30px 0px;
    display: flex;
    justify-content: center;
}

.map {
    background-color: white;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px 20px 20px 20px;
    height: 100%;

}

.map img {
    max-width: 100%;
    width: 250px;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid white;
    box-sizing: border-box;
    object-fit: cover;
} 

h6{font-size: 16px;}


p {
    font-weight: 500;
    font-size: 14px;
    padding: 10px 0px;
}

.under {
    padding: 0 15px;
}


.stars {
    margin-top: -4px;
}

.last p {
    font-weight: 700;
    font-size: 18px;
}



























.main-container {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    gap: 40px;
}

a {
    color: inherit;
    text-decoration: none;
}


.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin: 0px 15px;
}

.hebergements-and-populaires section {
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
}

.populaires-titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    gap: 35px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 33%;
    height: 130px;
}

.cards-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.cards-txt {
    margin: 13px 0
}

h4 {
    font-size: 16px;
    font-weight: 700;
}



















.container {
    margin: 30px 50px;

}

.title {
    margin: 0 25px;
    font-size: 22px;
    font-weight: 700;


}



.global {
    margin: 30px 0;
    display: flex;
    gap: 30px; justify-content: center

}


.picture {
    background-color: white;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px 20px 20px 20px; height: 100%;
    
    

}

.picture img {
    max-width: 100%;
    height: 87%;
    width: 285px;
    border-radius: 20px 20px 0px 0px;
    box-sizing: border-box;
    object-fit: cover;
}

h5 {
    font-size: 16px;
    font-weight: 700;
    margin: 10px 20px
}
































footer {

    background-color: var(--main-bg-color);
    margin: 0px 45px;
}

.last-container {
    margin: 0px 20px;
    padding: 25px 0px;
    display: flex;
}
.about, .accommodation, .assistance{width:33%}


.para {
    font-weight: 700;
    font-size: 18px;
}

































































/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .FiltreGroup {
        display: inline-block
    }

    .FilterBar {
        margin: 25px 0;
    }



    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    
    .populaires-cards a {
        width: 100%;
    }


    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px
    }



    .card img {
        height: 100%;
    }

    .card {
        height: 100%
    }


    .cards-titles {
        font-size: 16px;
    }

    .cards-subtitles {
        font-size: 13px;
    }








    h5 {
        margin: 17px;
    }


    .picture img {height :76%;}
        

































}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .alignment {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 24px;
    }

    .logo {
        text-align: center;
    }

    .menu {
        margin: 0 auto;
        gap: 0
    }


    .blue {
        border-bottom: 2px solid transparent;
        padding-bottom: 12px;
    }

    .blue:hover {
        border-bottom: 2px solid var(--main-color);
        color: var(--main-color);
        border-top: 2px solid transparent
    }

    .blue {
        width: 50%;
        text-align: center;
    }






    .search {
        width: 100%;
    }

    .info {
        margin: 0px 30px;
    }

    input[type="submit"] {
        display: none;
    }

    input[type="text"] {
        width: 100%;
    }

    .glass {
        display: flex;
        position: relative;
        left: -15px
    }






    .FiltreGroup {
        height: 161px;
        width: 100%;
        flex-direction: column;
    }

    .FilterBar {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .FilterBar p {
        font-size: 22px;
        font-size: 14px;
        font-weight: 700
    }

    .part1,
    .part2 {
        width: 100%
    }

    .price,
    .family,
    .romantic,
    .fire {
        width: 50%;
    }

    div>.family>.fa-solid {
        margin-left: -23px;
    }

    .icon {
        padding: 2px
    }

    .line {
        gap: 13px
    }

    .text {
        margin: 0
    }






    .main-container {
        padding: 0;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
        margin: 0
    }

    .populaires {
        background-color: var(--main-bg-color);
        border-radius: 0px; margin:0
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .card {
        width: 100%
    }

    .card img {
        height: 150px;
    }

    .populaires-cards a {
        width: 100%
    }







    .hebergements {
        background-color: transparent;
    }

    .hebergements-global {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }



    .map img {
        width: 100%;
    }

    .section-title {
        width: 100%;
        font-size: 22px;
        font-weight: 700;
    }

    .last {
        width: 102%; font-size: 17px; font-weight: 700;
    }





    .global {
        gap: 20px;
        display: flex;
        flex-direction: column;
    }

    h2 {
        width: 100%
    }

    .picture {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200px;
    }

    .picture img {
        width: 100%;
    }







    footer {
        margin: 0;
    }

    .last-container {
        margin: 0;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .accommodation {
        margin: 0
    }

    .assistance {
        margin: 0
    }


    .title {
        margin: 0
    }































}