/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;

}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}


.fa-solid {
    color: var(--main-color);
}

.alignement {
    display: flex;
    justify-content: space-between;
    height: 79px;
}

.logo {
    margin: 30px 50px;
}

.alignement img {
    width: 61px;
    height: 19px;

}

.menu {
    margin: 15px 50px;
}

.blue {
    padding-top: 12px;
    border-top: 2px solid transparent;
    margin-left: 100px;
}

.blue:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

.info {
    margin: 30px 50px;

}

h1 {
    font-weight: 700;
    font-size: 22px;
}

.margin-top {
    line-height: 45px;
}

.search {
    width: 377px;
    display: flex;
    text-align: center;
    margin: 30px 0px;
    height: 49px;
    box-sizing: border-box;
}

.icone {
    width: 50px;
    height: 49px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: rgba(242, 242, 242, 1);
}

.icone .fa-solid {
    color: black;
    margin: 13px 15px;
    width: 14px;
    height: 18px;

}

input[type="text"] {
    font-weight: 700;
    height: 47px;
    border: 1px solid rgba(242, 242, 242, 1);
    text-align: center;
    font-size: medium;

}

input[type="submit"] {
    font-weight: 700;
    font-size: 18px;
    width: 132px;
    height: 49px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgba(0, 101, 252, 1);
    color: white;
    border: none
}

.FilterBar {
    width: 758px;
    height: 50px;
    gap: 15px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 173px;
    height: 50px;
    border-radius: 25px 25px 25px 25px;
    border: 2px solid rgba(217, 217, 217, 1)
}

.family {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 50px;
    width: 134px;
    gap: 10px;
    border-radius: 25px 25px 25px 25px;
    border: 2px solid rgba(217, 217, 217, 1)
}

.romantic {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 50px;
    width: 170px;
    gap: 10px;
    border-radius: 25px 25px 25px 25px;
    border: 2px solid rgba(217, 217, 217, 1)
}

.fire {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 50px;
    width: 167px;
    gap: 10px;
    border-radius: 25px 25px 25px 25px;
    border: 2px solid rgba(217, 217, 217, 1);
}

.price:hover {
    background: rgba(222, 235, 255, 1);
}

.family:hover {
    background: rgba(222, 235, 255, 1);
}

.romantic:hover {
    background: rgba(222, 235, 255, 1);
}

.fire:hover {
    background: rgba(222, 235, 255, 1);
}

.barre {
    height: 30px;
    margin: 30px 0px;
    display: flex;

}

.icon {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid rgba(217, 217, 217, 1);
}

.barre>div {
    text-align: center;
}

.barre>p {
    margin: 0px 10px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    padding: 2px 0px;
}


.FrameGlobal {
    margin: 30px 0px;
    gap: 20px;
    display: flex;
    justify-content: space-between
}

.carte {
    background-color: white;
    width: 220px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px 20px 20px 20px;
    height: 207px;

}

.carte img {
    width: 220px;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid white;
    box-sizing: border-box;
    object-fit: cover;
} 

.Frame16 {
    padding: 0px 15px;  
}

.Frame16 p {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.44px;
    padding: 10px 0px;
}

h6{font-weight: 700; font-size: 14px;}

.stars {
    margin-top: -4px;
}

.black {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
}














.main-container {
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    gap: 40px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;

}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}


.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin: 0px 15px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}





.conteneur {
    margin: 60px 0px;
    max-width: 1440px;
    padding: 0 30px;
    box-sizing: border-box;
}

.title {
    margin: 0 40px;
    font-size: 22px;
    font-family: Raleway;
    font-weight: 700;
    line-height: 25.83px;


}

.FrameGlobal1 {
    margin: 30px 0px;
    display: flex;
    justify-content: space-evenly;

}

.carte1 {
    background-color: white;
    width: 265px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px 20px 20px 20px;
    height: 439px;

}

.carte1 img {
    width: 265px;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    box-sizing: border-box;
    object-fit: cover;
    box-sizing: border-box;

}

.Frame17 {}

h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
    margin: 10px 20px
}













footer {

    background-color: var(--main-bg-color);
    margin: 0px 45px;
}

.containerF {
    margin: 0px 20px;
    padding: 25px 0px;
    display: flex;
}

.propos .first{font-weight: 700; font-size: 18px;} 

.Nosh{margin: 0px 200px}
.Nosh .first{font-weight: 700;font-size: 18px;} 
.assistance{margin: 0px 50px} 
.assistance .first{font-weight: 700;font-size: 18px;}


































































/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}