/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;

}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}


.fa-solid {
    color: var(--main-color);
}

.alignement {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 50px;
}

.menu {
    margin-top: -23px;
    position: relative;
    right: 50px;
}

.alignement img {
    width: auto;
    height: 20px;
    margin: 20px
}

.blue:hover {
    color: blue;
    text-decoration: overline;
}

.info {
    margin: 0px 15px
}

h1 {
    width: 1340px;
    height: 26px;
    font-weight: 700;
    font-size: 22px;
    line-height: 25, 83px;
}

.margin-top {
    width: 1340px;
    height: 19px;
    size: 16px;
    line-height: 18.78px;
    font-weight: 400;
    margin-top: -15px;
}

.search {
    width: 377px;
    display: flex;
    text-align: center;
    margin: 50px 0px
}

.icone {
    flex: 1 1 auto;
    height: 49px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: rgba(242, 242, 242, 1);
}

.icone .fa-solid {
    color: black;
    position: relative;
    bottom: -15px
}

.texte {
    font-weight: bold;
    flex: 2 1 auto;
    height: 49px;
    border: 1px solid rgba(242, 242, 242, 1);

}

.texte p {
    text-align: center;
}

.button {
    font-weight: bold;
    flex: 2 1 auto;
    height: 49px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgba(0, 101, 252, 1);
    color: white
}

.button p {
    text-align: center
}

.FilterBar {
    width: 758;
    height: 50px;
    gap: 50px;
    border: 1px solid black;
    display: flex;;
}
.FilterBar p{width: 54px;
    height: 21px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: center; display: flex; align-items: center ;
    
    }

.price{ display: flex; align-items: center;}
.family{ display: flex; align-items: center;}
.romantic{ display: flex; align-items: center;}
.fire{ display: flex; align-items: center; gap: 5px}










.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}


.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}